{
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "react-app",
      "react-app/jest"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "plugins": [
      "@typescript-eslint",
      "react"
  ],
  "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "error",
      "max-lines-per-function": ["error", { "max": 30 }],
      "max-len": ["error", { "code": 120 }]
  }
}
