/* Main.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    display: flex;
    height: 100vh; /* Full height */
}

.content {
    flex: 1; /* Fills the remaining space */
    background-color: #36393f; /* Main content background color */
    color: white;
}

.settings-button {
    position: absolute; /* Position it wherever you'd like */
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
