/* Main.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    display: flex;
    height: 100vh; /* Full height */
}

.content {
    flex: 1; /* Fills the remaining space */
    background-color: #36393f; /* Main content background color */
    color: white;
}

